@charset "UTF-8";

/* ===============================================
Base
=============================================== */


/*
Reset
----------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, main, menu, nav, output, ruby, section, summary, time, mark, audio, video{
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section{
	display:block;
}
body{
	line-height:1.6;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
blockquote:before, blockquote:after, q:before, q:after{
	content:"";
	content:none;
}
table{
	border-collapse:collapse;
	border-spacing:0;
}
img{
    vertical-align : bottom;
}

.remove-button{
    display:none;
}

/* ===============================================
Modal
=============================================== */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
    transition: .5s;
    }
    
    .modal-content{
      margin: 60px auto;
    background-color: white;
    padding:32px;
    width: 60%;
    max-width: 1000px;
    height: 50%;
    overflow-y: scroll;
    }

    .modal-content ul{
      list-style-type: disc;
      padding-left: 30px;
      padding-right: 10px;
      padding-top: 10px;
      padding-bottom: 10px
    }

    .modal-content h1, .modal-content h2 {
      font-size: 1.2em;
      font-weight: bold;
      padding:.75em 0;
    }
    .modal-buttons{
      margin: .5em auto;
      width: 200px;
    }

    .modal-body{
        padding: 1em;
    }

    .modal-title{
        font-size: 1em;
        font-weight: 500;
        margin: 1em auto;
    }

/* ===============================================
Form
=============================================== */

.form_title{
  font-size: 1.5em;
}
.form_container{
  margin: 3em auto;
  padding: 2em;
  width: 50%;
  min-width: 500px;
  background-color: #dee2e6;
}
.form_container form{
  margin: 2em auto; 
  font-size: .875em;
}
.form_container li{
  margin: 1em 0;
}
.form_container label{
  display: inline-block;
  width: 35%;
  font-size: 1.2em;

}
.form_container input[type="email"],
.form_container input[type="text"],
.form_container input[type="password"]{
  width: 55%;
  font-size: 1.2em;
}

.form_text{
display: inline-block;
margin: 0 auto;
font-size: 1.2em;
}
.error-message{
  display: block;
  margin-left: 36%;
  color: red;
}
.submit-button{
  display: block;
  width: 100px;
  padding: .5em;
  background: #2cb696;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  outline: none;
  color: #fff;
}
.submit-button:disabled{
  background: #eee;
  color: #999;
  cursor: not-allowed;
}
